// font-size vars
$fontsize-large-xxxx = 30px*2
$fontsize-large-xxx = 24px*2
$fontsize-large-xx = 20px*2
$fontsize-large-x = 18px*2
$fontsize-large = 16px*2
$fontsize-medium = 14px*2
$fontsize-small = 12px*2
$fontsize-small-s = 10px*2

// radius-size
$radius-size-medium = 5px*2
